* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #4c5c6d;
    z-index: 1000;
}

.search {
    height: 35px;
    width: 600px;
    background-color: #f1f1f1;
    border: 1px solid #f1f1f1;
}

.search:focus {
    box-shadow: none;
}

.notification {
    background-color: #f1f1f1 !important;
    border-radius: 50% !important;
    padding: 6px 8px !important;
}

.admin_sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0%;
    left: 0;
    background-color: #4c5c6d;
    padding-top: 60px; /* Adjust based on navbar height */
}

.admin_sidebar ul {
    list-style-type: none;
    padding: 16px !important;
}
.admin_sidebar ul li {
    padding: 16px !important;
    cursor: pointer;
}
.admin_sidebar ul li:hover {
    background-color: #5f7187;
    transition: background-color 0.3s;
}

.sidebar_img {
    width: 18px;
    height: 18px;
    margin-right: 12px;
}

.admin_main_container {
    margin-left: 250px; /* Width of the sidebar */
    padding-top: 60px; /* Adjust based on navbar height */
    background-color: #f8f9fa;
    min-height: calc(100vh - 60px); /* Full height minus navbar */
}

.img-fluid {
    width: 600px;
    height: 400px;
}

.admin_main_container .card {
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
}

.admin_main_container .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.pie {
    width: 500px;
    height: 350px;
}

.pie_details {
    width: 35%;
    padding-left: 20px;
}

.pie_details .detail_item {
    height: 86px !important;
}

.electronics {
    background-color: #FF6384;
}
.electronics:hover {
    box-shadow: 0px 0px 15px 2px #FF6384;
}
.apparel {
    background-color: #36A2EB;
}
.apparel:hover {
    box-shadow: 0px 0px 15px 2px #36A2EB;
}
.home_goods {
    background-color: #FFCE56;
}
.home_goods:hover {
    box-shadow: 0px 0px 15px 2px #FFCE56;
}
.books {
    background-color: #4BC0C0;
}
.books:hover {
    box-shadow: 0px 0px 15px 2px #4BC0C0;
}
.beauty {
    background-color: #9966FF;
}
.beauty:hover {
    box-shadow: 0px 0px 15px 2px #9966FF;
}

.admin_main_container {
    background-color: rgba(139, 154, 168, 0.2);
}

.table thead {
    background-color: #4c5c6d;
    color: white;
}

.brand_image {
    width: 120px;
    height: 80px;
    object-fit: contain;
}

.brand_img {
    width: 100%;
    height: 250px;
}

.product_img {
    width: 100%;
    height: 210px;
}

.brand_input, .product_input {
    height: 100%;
    width: 100%;
    border: 2px dashed #71b8ff;
}

.fa-cloud-arrow-up {
    font-size: 6rem;
    color: #71b8ff;
    cursor: pointer;
}

.product_input .fa-cloud-arrow-up {
    font-size: 4rem;
    color: #71b8ff;
    cursor: pointer;
}

#preview_container {
    display: none;
}

#p_preview_container {
    display: none;
}

#g_preview_container {
    display: none;
}

#p_previewImage {
    max-width: 100%;
    height: auto;
    margin: 0 auto; 
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#g_previewImage {
    max-width: 100%;
    height: 250px;
    display: flex !important;
    background-size: contain;
}

.gitems {
    display: flex;
    margin: 5px;
}

.gitems img {
    width: 265px;
    height: 210px;
    object-fit: cover;
    border-radius: 8px;
}

#previewImage img {
    height: 210px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

#p_previewImage img {
    height: 190px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

.visible {
    display: block !important;
}

.dropdown-select {
    width: 100%;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    font-size: 16px;
    color: #333;
}


#logout ul {
    position: absolute !important;
    left: 94% !important;
    top: 60% !important;
    padding: 0% !important;
    border: 0.5px solid #cecece;
    border-radius: 0%;
    width: 70px !important;
    --bs-dropdown-min-width: 70px !important;
}


#logout ul li a {
    text-align: center !important;
    padding: 2px 5px !important;
}