* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.search-bar {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
    transition: transform 0.4s ease;
    z-index: 999;
}

.search-bar.active {
    transform: translateX(0%);
}

.search-bar input {
    width: 60%;
    padding: 10px 20px;
    border-radius: 25px;
    border: 1px solid #ccc;
    outline: none;
}

.search-bar input:focus {
    box-shadow: none;
}