* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cart_container {
    height : auto;
}

.item_info {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item_info img {
    height: 100px;
    object-fit: contain;
}

.empty {
    height: 250px !important;
}