* {
    margin: 0;
    padding: 0;
}

.frm_container {
    height: 500px;
    margin-top: 20% !important;
}

.image {
    height: 100%;
    width: 100%;
}

.image img {
    height: 100%;
    width: 100%;
}

.text_container {
    height: 30vh;
    position: absolute;
    top: 40%;
    margin-left: 6%;
    margin-right: 6%;
}

.social {
    height: 50px;
}

.social img {
    height: 40px;
}
