* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.shop_sidebar {
    width: 300px;
    height: 120vh;
    background-color: white;
    z-index: 5;
}

.dropdown-select {
    width: 100%;
    padding: 6px 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    font-size: 16px;
    color: #333;
}

.product-card {
    height: auto;
    max-width: 280px !important;
}

.details_img {
    height: 600px;
}

.qty-input {
    width: 50px;
}

.quanitiy_container {
    width: 140px;
}

.addToCart {
    width: 300px;
}

.details {
    background-color: rgb(233, 233, 233);
}

.g_img {
    height: 150px;
    width: 120px;
}